 body{
text-align: center;

  background-image:url("background.jpg");
  background-repeat: no-repeat; /*ficar a imagem única*/
  background-attachment: fixed; /*não mudar a imagem quando rolar*/
  background-size: cover;/*pegar toda a tela*/
 } 

 
h1{
  color:red;
  font-size:45px;
  font-family: 'Titan One', cursive;
  font-weight:900;

  
} 
 
#btn{
  background-color: rgb(121, 69, 35);
  color:rgb(249, 249, 247);
  border-color: rgb(125, 125, 6);
  border-radius:30px;
  width:70px;
  height: 30px;
  font-size:20px;
}
#btn:hover
{
	background-color: blue;
}
  canvas {
	  animation-name: example;
	  animation-duration: 2s;
	  animation-iteration-count: infinite;
  }


@keyframes example {

  from {box-shadow: 10px 10px 150px red;}
  to {box-shadow: 10px 10px 100px rgb(2, 231, 2);}

}


.title{
  text-transform: uppercase;
 background-image: linear-gradient(
   -225deg,
   green 0%,
   rgb(90, 212, 98) 30%,
   rgb(255, 0, 0) 60%,
   rgb(207, 102, 102) 100%
 );
 background-size: auto auto;
 background-clip: border-box;
 background-size: 200% auto;
 color: #fff;
 background-clip: text;
 text-fill-color: transparent;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: textclip 4s linear infinite;
 display: inline-block;
     font-size: 40px;
}

@keyframes textclip {
 to {
   background-position: 200% center;
 }
}
